.column
{

    float:left;
    width:10%;
    height: 25px;
    padding: 20px;
    background-color: azure;
}

.row:after{
content: '';
display: table;
background-color: azure;
clear:both;
}

.wrapper
{
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 24x;
}
